.di {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
}
.bx {
  display: flex;
  height: 40%;
  width: 40%;
  justify-content: center;
  align-items: center;
  background-color: khaki;
  flex-direction: column;
  border-style: dashed;
  border-color: lightcoral;
}
